// Specific CSS for your home-page
body {
  background-color: #262626;
  color: #F1F3F4;
}

.container {
  margin-top: 200px;
  h1 {
    padding: 56px;
  }
  h2 {
    padding: 24px;
  }
  li {
    padding: 8px;
  }
}
