.header {
  padding: 24px;
  background-color: #282C2F;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.part_title h2 {
 font-size: 24px;
 color: #3484F0;
}

.part_title h2:hover {
 color: #255FDB;
}

.subtitle {
 padding: 24px;
 margin-top: 24px;
 li {
  //text-align: right;
  font-size: 16px;
  font-weight: 100;
  color: #C4DBFA;
  padding: 8px;
  margin: auto;
 }
 li:hover {
  color: #91BFFF;
 }

}

.part_title {
 //display: flex;
 // white-space: 20px;
 justify-content: space-between;
 align-items: unsafe-center;
}

.bg-notes{
 position: sticky;
 position: -webkit-sticky;
 top: 0;
 background-color: #F7F7F7;
 color: #282C2F;
 padding: 16px;
 border-radius: 4px;
 h3 {
  font-weight: 700;
  padding: 8px;
 }
}

#carre {
 position: relative;
 float: right;
 right: 50px;
 bottom: 100px;
 width: 200px;
 height: 200px;
 background-color: #00BDD3;

}

.rotating {
 animation: rotating 20s linear infinite, flashing 1s linear infinite;
}

@-webkit-keyframes rotating {
 from{
  transform: rotate(0deg);
 }
 to{
  transform: rotate(360deg);
 }
}

@keyframes flashing {
 0% {
  opacity: .1;
 }
 50% {
  opacity: 1;
 }
 100% {
  opacity: .1;
 }
}

