.part_title h2 {
 font-size: 24px;
 color: #3484F0;
}

.part_title h2:hover {
 color: #255FDB;
}

.subtitle {
 padding: 8px;
 li {
  font-size: 16px;
  font-weight: 100;
  color: #C4DBFA;
  padding: 8px;
  margin: auto;
 }
 li:hover {
  color: #91BFFF;
 }

}

