.header {
  padding: 24px;
  background-color: #282C2F;
}


.part_title h2 {
 font-size: 24px;
 color: #3484F0;
}

.part_title h2:hover {
 color: #255FDB;
}

.subtitle {
 padding: 24px;
 margin-top: 24px;
 li {
  //text-align: right;
  font-size: 16px;
  font-weight: 100;
  color: #C4DBFA;
  padding: 8px;
  margin: auto;
 }
 li:hover {
  color: #91BFFF;
 }

}

.part_title {
 //display: flex;
 // white-space: 20px;
 justify-content: space-between;
 align-items: unsafe-center;
}

.bg-notes{
  background-color: grey;
  color: black;
  padding: 16px;
}

