<div class="container">
 <div class="header">
 <h1>CONSTRUIRE UNE STRATÉGIE SOCIAL MEDIA</h1>

 </div>

 <div class="part_title">
  <h2> Partie 1 | Intégrer les social media dans une stratégie marketing et communication</h2
   >
   <div class="subtitle">
    <ol>
     <li> Les mécanismes d'influence des communautés</li>
     <li> Intégration du social media dans l'organisation</li>
     <li> Formaliser la strategie social media</li>
    </ol>
   </div>
 </div>

 <div class="part_title">
  <h2> Partie 2 | Établir les profils de la communauté</h2>

 </div>

 <div class="part_title">
  <h2> Partie 3 | Sélection des social media où déployer sa présence</h2>
 </div>

 <div class="part_title">
  <h2> Partie 4 | Structure des publications de l'organisation</h2>
 </div>

 <div class="part_title">
  <h2> Partie 5 | Gérer le calendrier de diffusion dans le temps</h2>
 </div>


</div>
